*.exe
*.ilk
*.pdb
*.ncb 
*.suo
*.user
*.pch
*.log
*.lib
*.obj
*.ncb
*.exp
*.pyc
*.pyd
*.mat
*.cxx
*.bin
*.o
*.a
*.vshost*
*.dll
*.mex*
*.asv
*~
*#*#
*.so
*.so.*
obj/*
.vs/
Debug/
Release/
examples/cs/*/obj/*
examples/cpp/CppModule
lang/python/pydragonfly.py
lang/python/pydragonfly_wrap.cxx
lang/python/dragonfly_definitions.py
lang/python/dragonfly_types.py
lang/python/dragonfly_wrap.cxx
lang/dot_net/*.metagen
lang/dot_net/Template
lang/python/Backup
lang/python/*.htm
lang/python/*.sdf
.qmake.stash
build/Makefile
src/*/Makefile
MessageManager
QuickLogger
